[submodule "language-additions"]
	path = language-additions
	url = https://github.com/itkoren/Lets-Node-exp-language-additions.git
[submodule "callback-pattern"]
	path = callback-pattern
	url = https://github.com/itkoren/Lets-Node-exp-callback-pattern.git
[submodule "event-emitter-pattern"]
	path = event-emitter-pattern
	url = https://github.com/itkoren/Lets-Node-exp-event-emitter-pattern.git
[submodule "modules"]
	path = modules
	url = https://github.com/itkoren/Lets-Node-exp-modules.git
[submodule "modules-scope"]
	path = modules-scope
	url = https://github.com/itkoren/Lets-Node-exp-modules-scope.git
[submodule "core-modules"]
	path = core-modules
	url = https://github.com/itkoren/Lets-Node-exp-core-modules.git
[submodule "external-modules"]
	path = external-modules
	url = https://github.com/itkoren/Lets-Node-exp-external-modules.git
[submodule "package.json"]
	path = package.json
	url = https://github.com/itkoren/Lets-Node-exp-package.json.git
[submodule "data-serving"]
	path = data-serving
	url = https://github.com/itkoren/Lets-Node-exp-data-serving.git
[submodule "long-running"]
	path = long-running
	url = https://github.com/itkoren/Lets-Node-exp-long-running.git
[submodule "streams-pipe"]
	path = streams-pipe
	url = https://github.com/itkoren/Lets-Node-exp-streams-pipe.git
[submodule "buffers"]
	path = buffers
	url = https://github.com/itkoren/Lets-Node-exp-buffers.git
[submodule "callback-hell"]
	path = callback-hell
	url = https://github.com/itkoren/Lets-Node-exp-callback-hell.git
[submodule "callback-hell-2"]
	path = callback-hell-2
	url = https://github.com/itkoren/Lets-Node-exp-callback-hell-2.git
[submodule "handling-errors"]
	path = handling-errors
	url = https://github.com/itkoren/Lets-Node-exp-handling-errors.git
[submodule "express"]
	path = express
	url = https://github.com/itkoren/Lets-Node-exp-express.git
[submodule "express-app-settings"]
	path = express-app-settings
	url = https://github.com/itkoren/Lets-Node-exp-express-app-settings.git
[submodule "express-routes"]
	path = express-routes
	url = https://github.com/itkoren/Lets-Node-exp-express-routes.git
[submodule "connect-middlware"]
	path = connect-middlware
	url = https://github.com/itkoren/Lets-Node-exp-connect-middlware.git
[submodule "express-serving-data"]
	path = express-serving-data
	url = https://github.com/itkoren/Lets-Node-exp-express-serving-data.git
[submodule "unit-testing"]
	path = unit-testing
	url = https://github.com/itkoren/Lets-Node-exp-unit-testing.git
[submodule "leaking"]
	path = leaking
	url = https://github.com/itkoren/Lets-Node-exp-leaking.git
[submodule "stress-testing"]
	path = stress-testing
	url = https://github.com/itkoren/Lets-Node-exp-stress-testing.git
[submodule "websockets"]
	path = websockets
	url = https://github.com/itkoren/Lets-Node-exp-websockets.git
